@import "tailwindcss";

@keyframes show{
    from{
        opacity: 0; scale: 10%;
    }
    to {
        opacity: 1;scale: 100%;
    }
}
.btn-flotante {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  
  color: #222;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  transition: background 0.2s, transform 0.2s;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/500/243/non_2x/arrow-upward-icon-free-vector.jpg");
  background-size: cover;
}
.btn-flotante:hover {
  transform: scale(1.1);
}

.navazo {
  position: fixed;
  width: 100vw; /* O usa 100% si prefieres */
  z-index: 1000;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(122, 1, 70, 0.959);
  padding: 1px 10px 1px 10px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}


#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.37);
}

body {
  background-image: url(https://i.pinimg.com/736x/9d/58/a2/9d58a2ae9b423208848d02dc81df99a4.jpg);
  background-attachment: fixed;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr; /* La primera fila se ajusta al contenido */
    gap: 8px; /* O usa un valor pequeño como 5px si quieres un poco de espacio */
    background-color: rgba(114, 112, 101, 0.589);
}





.div1 {
    margin: 160 0 80 0;
    grid-column: span 3 / span 3;
    background-image: url('https://payhip.com/cdn-cgi/image/format=auto,width=1500/https://pe56d.s3.amazonaws.com/o_1f33q1qdr442dsn1iss949uf111.png');
    background-attachment: fixed;
    border-radius: 30px;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid rgb(122, 1, 70);
    
    
}


.titulos{
  font-weight: 700;
  font-size: 90px;
  color: black;
}



.fotoDerecha{
  justify-self: center;
  border-style:groove;
  margin: 0 0 50px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
   animation-range: entry 5% cover 35%;
}
.fotoDerecha:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 
  
}

p{
  font-size: 20px;
  font-weight: 500;
  
  justify-self: center;
  text-align: justify;
  color: black;
  
}
h3{
  color: black;
}
h4{
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 0.5%;
  list-style: none; 
}
li {
  height: 35px;
  width: 150px;
  font-size: 20px;
  align-content: center;
  transition: color 0.5s;
}
li:hover {
  color: #000000;
  background-color: rgb(173, 153, 40);
  transition: background 0.5s;
  
}
.esfera {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: auto; /* Esto la lleva a la derecha */
}
.wikiTrunks{
  width: 98%;
  justify-self: center;
  justify-content: center;
  align-items: center;
  
}


.div2 {
    grid-row-start: 2;
    
   
}


.div4 {
    grid-row-start: 2;
    

}
        
h3{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}